:root {
    --color-primary: #7380ec;
    --color-primary-variant: #3e4edf;
    --color-primary-transparent: #3e4edf1e;

    --color-danger: #ff7782;
    --color-danger-variant: #ff3041;

    --color-success: #0db474;
    --color-success-variant: #006b0e;

    --color-warning: #ffbb55;
    --color-warning-variant: #ff8800;

    --color-dark: #363949;
    --color-dark-variant: #5c5c69;
    --color-info-dark: #7d8da1;

    --color-info-light: #dadfe9;
    --color-light: rgba(132, 139, 200, 0.185);

    --color-background: #f6f6f9;
    --color-message : #e7e7e7;
    --color-white: #fff;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --tran-02: all .2s ease;
    --tran-03: all .3s ease;
    --tran-04: all .4s ease;
    --tran-05: all .5s ease;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-success-variant: #11cc00;
    --color-dark: #edeffd;
    --color-dark-variant: #d2e5f0;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-info-light: #dce1eb;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-primary-variant: #4657eb;
}
