@import './base.css';

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.80rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.text-muted {
    color: var(--color-info-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    font-family: "poppins", sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow: hidden;
    color: var(--color-dark);
}